html, body {
  height: 100%;
  margin: 0;
  text-align: center;
}

#game-board {
  height: 60%;
  width: 30%;
  min-width: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: 2vh auto 0;
}

.left-col {
  grid-column: 1 / 2;
}

.middle-col {
  border-left: 2px solid black;
  border-right: 2px solid black;
  grid-column: 2 / 3;
}

.right-col {
  grid-column: 3 / 4;
}

.top-row {
  grid-row: 1 / 2;
}

.middle-row {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  grid-row: 2 / 3;
}

.bottom-row {
  grid-row: 3 / 4;
}

#heading {
  text-align: center;
  margin: 4vh;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  cursor: pointer;
}

.mark {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transform: scale(3);
}

#reset-btn {
  display: block;
  margin: auto;
}

@media screen and (max-width: 420px) {
  #game-board {
    height: 35%;
  }
}